.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;   
    }
  }

.exit {
  position: absolute;
  top: 1.5vh;
  left: 1rem;
  z-index: 1;
  font-weight: bold;
  width: 1.9rem;
  height: 2.4rem;
  color: var(--main-font-color);
  filter: drop-shadow( 0 0 10px var(--primary-color));
  font-family: var(--main-font-family);
  cursor: pointer;
  opacity: 0;
  animation: appear .2s ease-in forwards;
}

.star {
  position: absolute;
  top: 1.8vh;
  left: 3.3rem;
  z-index: 1;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 0 10px black);
  cursor: pointer;
  opacity: 0;
  animation: appear .2s ease-in forwards;
}

.questionMark {
  position: absolute;
  top: 1.5vh;
  right: 1rem;
  z-index: 1;
  font-weight: bold;
  width: 1.9rem;
  height: 2.4rem;
  color: var(--main-font-color);
  filter: drop-shadow( 0 0 10px var(--primary-color));
  font-family: var(--main-font-family);
  cursor: pointer;
  opacity: 0;
  animation: appear .2s ease-in forwards;
}

@keyframes appear {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;   
    }
  }



