/* ------------ Main landing page -------------  */

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.animate-appear-map {
  animation: appear 1s forwards;
}
.marker {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  color: var(--primary-color);
  font-family: var(--main-font-family);
  text-shadow: 0 0 1px white;
  font-weight: bold;
  font-size: var(--marker-font-size);
}


/* ----- mapbox gl modifications ----  */

.mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: default;
}

/* error page styling  */

